In [3]:
emp=()
print( type(emp))

<class 'tuple'>

In [4]:
print(emp)

()

In [5]:
city="pune",

In [6]:
type(city)

tuple

In [7]:
city=("Puna")

In [8]:
city

'Puna'

In [9]:
city=("pune","bangalore","delhi","mumbai")

In [10]:
city

('pune', 'bangalore', 'delhi', 'mumbai')

In [12]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)
list1.append(5)
print (list1)

[1, 2, 3, 4, 5]

In [13]:
tuple1.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
print(city)

('pune', 'bangalore', 'delhi', 'mumbai')

In [15]:
city[-1]

'mumbai'

# contenation

In [16]:
num=1,2,3,4
print(city+num)

('pune', 'bangalore', 'delhi', 'mumbai', 1, 2, 3, 4)

# contatenation

In [21]:
nest=(city,num)
print (nest)

(('pune', 'bangalore', 'delhi', 'mumbai'), (1, 2, 3, 4))

# repetation

In [20]:
rep=("python",)*5
rep

('python', 'python', 'python', 'python', 'python')

# splicing

In [22]:
num=1,2,3,4
num[1::]

(2, 3, 4)

In [23]:
num[::-1]

(4, 3, 2, 1)

## unpacking

In [24]:
tuple("simple leanr")

('s', 'i', 'm', 'p', 'l', 'e', ' ', 'l', 'e', 'a', 'n', 'r')

In [25]:
print(num)

(1, 2, 3, 4)

In [26]:
a,b,c,d=num
print(a,b,c,d)

1 2 3 4

In [27]:
a,*b,c=num
print(a,b,c)

1 [2, 3] 4

# delete a tuple

In [28]:
tuple1=(1,2,3,4)
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

# build in function

In [30]:
num1=(1,2,3,4,2,6,7,8)
num1.count(2)

2

In [31]:
sum(num1)

33

In [32]:
len(num1)

8

In [33]:
max(num1)

8

In [34]:
min(num1)

1

In [35]:
lst=[1,2,3,4]
print(type(lst))

<class 'list'>

In [36]:
tpl=tuple(lst)

In [37]:
print(type(tpl))

<class 'tuple'>

In [38]:
tpl

(1, 2, 3, 4)

In [39]:
type(tpl)

tuple

# Nesting tuples in a list

In [41]:
lst=[(1,2,3),(4,5)]
print(lst)

[(1, 2, 3), (4, 5)]

In [42]:
lst.append(("tuple","indis","list"))

In [43]:
lst

[(1, 2, 3), (4, 5), ('tuple', 'indis', 'list')]

In [44]:
lst.remove((1,2,3))

In [45]:
lst

[(4, 5), ('tuple', 'indis', 'list')]

# Nset l;ist with tuple

In [46]:
tpl=(['a','b','c'],['d','e','f'])

In [47]:
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [48]:
tpl[0].remove('a')

In [49]:
tpl

(['b', 'c'], ['d', 'e', 'f'])

In [50]:
# modify list inside tuple tuple

# exeseercise

In [51]:
series=(0,1,2,3,4,5,6,7,8,9)
series

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [52]:
series1=series+(10,)

In [53]:
series1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [57]:
series2=series1+series[::-1]

In [58]:
series2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)